<div class="container">
        <span>Esta aplicación ha sido desarrollada como proyecto académico durante el curso de Proyecto Integrador (2017-1)</span>
        <br>
        
        <ul>
            <li>Jasmin Juliana Jaramillo</li>
            <li>Diego Berrio</li>
            <li>Jorge Zapata</li>
            <li>Robert García</li>
            <li>John Jairo Macias</li>
            <li>Eduar Martinez</li>
            <li>Max Falla</li>
            <li>Gonzalo A. Villegas</li>
        </ul>
</div>